.formbox{
    margin-top: 30px;
    background-color: var(--color1);
    border-radius: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.404);
    width: 600px;
    height: fit-content;
    padding: 30px 0;
}

.formbox .desc{
    text-align: center;
    font-family: var(--font-family);
}

.form{
    height: 100%;
    display: table;
    margin: 0 auto;
}

.form p{
    display: table-cell;
}

.form input{
    display: table-cell;
    height: 50%;
}

.form-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
    color: var(--text-color);
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--color2);
    padding: 10px;
}

.linea-form{
    display: table-row;
}

.linea-form p{
    font-family: var(--font-family);
    padding: 20px 0;
}

.link{
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: bold;
}

.genero{
    width: 40%;
}

.boton{
    border-radius: 10px;
    background-color: var(--color2);
    font-family: var(--font-family);
    color: var(--color1);
    border: none;
    font-size: 25px;
}