:root{
    --color1: #ffff;
    --color2: #70cbe2;
    --text-color: #ffff;
    --font-family: 'Roboto', sans-serif;
}

body{
    margin: 0 0;
}

.navbar{
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--color2);
    width: 100%;
}

.navbar ul{
    padding-left: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

.navbar ul li{
    margin: 0 20px;
    display: inline-block;
    opacity: 
}

.navbar ul li:hover{
    opacity: 0;
    transition: ease-in-out;
    transition: ease-in-out;
    animation-duration: 2s;
}

.link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-family: var(--font-family);
}

.page{
    margin: 60px 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
}

.formbox{
    margin-top: 30px;
    background-color: var(--color1);
    border-radius: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.404);
    width: 400px;
    height: 600px;
}